

.navi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.links > a {
    padding: 0 25px;
    text-decoration: none;
    color: rgba(33, 33, 33, 1);
    font-size: 12px;
}


.icon {
    color: blueviolet;
    padding: 0 15px;
    cursor: pointer;
}

.icon:last-child {
    display: none;
}



@media only screen and (max-width: 831px) {
    .links {
        display: none;
    }

    .icon {
        display: none;
    }

    .icon:last-child {
        display: block;
		position: relative;
		left: 100%;
    }

    .table-header {
        display: block;
    }

    .main-left {
        width: 800px;
    }
}


@media only screen and (max-width: 638px) {
    .main-left {
        width: 600px;
    }
}
